#### User Input Required
#### Enter your user variables here
#### Some variables have default values and if you do not specify 

#### User Input Required
#### Access key and Secret key for aws account [AWS_ACCESS_KEY, AWS_SECRET_KEY]
#### (fake example: aws_creds = ["myAccesssKeyxjdklfdakf","MySecretKeyxkldkfhadjkfh"]) 
aws_creds = 

#### User Input Required
#### name of ssh key (.pem file) to be added to instance (AWS key pair name)
#### ie. if your AWS ssh keys name is "my-ssh-key.pem", enter in "my-ssh-key"
#### the SSH key must have already had "chmod 400 my-ssh-key.pem" run on it before using
#### (fake example: ssh_key_name = "my-ssh-key")
ssh_key_name = 

#### User Input Required
#### path to your the SSH key .pem file.
#### (fake example: ssh_key_path = "~/keys/my-ssh-key.pem")
ssh_key_path = 

#### Owner tag name of resources
owner = 

# AWS Region
region = "us-west-2"

################### VPC Variables


#### vpc name (will be the prefix of your nodes)
#### example: vpc_name = "redis-tf-us-west-2-cluster"
vpc_name = 

#### Subnet AZ 
#### get the subnet azs from your VPC that you would like the test nodes placed in
#### (Must be list form)
#### example: subnet_azs = ["us-west-2a","us-west-2b","us-west-2c"]
subnet_azs = 

#### vpc_subnets_ids
#### Get the subnet Ids from your VPC that you would like to place the Test node into
#### (Must be list form)
#### example: vpc_subnets_ids = ["subnet-9cb8ac1fa9a372bf0", "subnet-9cf634fa5bf40eeb2","subnet-925b76899dc7a792c"]
vpc_subnets_ids =  

#### Security Group Id
#### Get the security group of your redis cluster in the VPC where you want to deploy your test node
#### (Must be list form)
#### example: vpc_security_group_ids = ["sg-96a2ebde00e66dabd"]
vpc_security_group_ids = 


############### Test Instance Variables

#### instance type to use for test node with redis and memtier installed on it
#### example: test_instance_type = "t3.micro"
test_instance_type = "t3.micro"

#### how many test nodes
#### example: test-node-count = 1
test-node-count = 1

#### https://developer.redis.com/riot/riot-redis/index.html
#### put in the latest version of riot redis (ie. "2.18.5")
riot_version = "2.18.5"


###### Prometheus variables
#### Get your RE cluster FQDN, this is required to configure Prometheus and Grafana
#### example: dns_fqdn = "redis-tf-us-west-2-cluster.redisdemo.com"
dns_fqdn = 